@font-face {font-family: 'BB Manual Mono Pro TX';src: url('https://tour.khaliiil.com/BBManualMonoProTX-Regular.woff2') format('woff2');}
html, body {margin: 0;padding: 0;background:#000;height: 100%;font-family: 'BB Manual Mono Pro TX',arial;scroll-behavior: smooth;color: white;}
.nav-top {position: fixed;width: 100%;left: 0;display: flex;justify-content: center;align-items: center;z-index: 800;}
.nav-top {top: 0;height: 30px;background: none;}
.nav-top .menu {display: flex;gap: 45px;}
.nav-top .menu a {font-family: 'BB Manual Mono Pro TX',arial;color: #fff;text-decoration: none;padding-bottom: 0;font-weight: 300;font-size:30px;text-transform:uppercase;top:0;padding-top:20px;}
.nav-top .menu a:hover, .nav-top .menu a:focus {background:none;color:white;}
@media screen and (max-width:400px) {
.nav-top .menu {gap:40px;}
.nav-top .menu a{font-size:22px;}
.footert {justify-content: space-between;padding-left: 10px;padding-right: 10px;}}
@media screen and (min-width:401px) and (max-width:500px) {
.nav-top .menu {gap:45px;}
.nav-top .menu a {font-size:22px;}}
@media screen and (min-width:501px) and (max-width:600px) {
.nav-top .menu {gap:100px;}
.nav-top .menu a {font-size:22px;}}
@media screen and (min-width:601px) and (max-width:700px) {
.nav-top .menu {gap:105px;}}
@media screen and (min-width:701px) and (max-width:800px) {
.nav-top .menu {gap:110px;}
.nav-top .menu a {font-size:22.6px;}}
@media screen and (min-width:801px) and (max-width:990px) {
.nav-top .menu {gap:120px;}
.nav-top .menu a {font-size:22px;}}
@media screen and (min-width:1000px) {
.nav-top .menu {gap:150px;}
.nav-top .menu a {font-size:24px;}}
.footert {position: fixed;bottom: 0;left: 0;right: 0;display: flex;justify-content: center;background: none;padding: 10px;margin: 0 auto;align-items: center;z-index:800;}
.footert a, .footert p {text-decoration: none;background: none;color: #fff;border: none;padding: 5px 0;margin: 0 auto;border-radius: 5px;cursor: pointer;text-transform: uppercase;font-size: 14px;font-family: 'BB Manual Mono Pro TX', Arial;}
.footert p {margin: 0 10px;}
@media (max-width: 799px) {
.footert {justify-content: space-between;padding-left: 30px;padding-right: 30px;}
.footert button {margin: 0 5px;margin-bottom: 5px;}   
#d {display: none;}}
@media (min-width: 800px) {
.footert {justify-content: space-between;padding: 10px 50px;}
#d {display: flex;}}
.bottom-nav {position: fixed;margin:0 auto;bottom: 5px;width:100%;background:none;color: #fff;display: flex;justify-content: space-between;padding: 10px;box-sizing: border-box;right:0;z-index: 800;}
.left-btns,
.right-btns {display: flex;flex-direction: column;}
.right-btns {padding-right:10px;}
.left-btns {padding-left:10px;}
.btn {margin: 5px 5px;padding: 0;background:none;color: #fff;border: none;cursor: pointer;}
.center-text {position: absolute;left: 50%;transform: translateX(-50%);bottom: 15px;text-align: center;font-size:15px;}
.bottom-nav a {color:#fff;font-size:15px;text-decoration:none;text-transform:uppercase;}
#d {display:none;}
@media (min-width: 590px) and (max-width:1024px) {
.left-btns,
.right-btns {flex-direction: row;}
.left-btns .btn,
.right-btns .btn {margin: 0 10px;}
.center-text {bottom: auto;top: 50%;transform: translate(-50%, -50%);}}
@media (min-width:1025px) {
#d {display:flex;}
.bottom-nav {display:none;}}
@media screen and (max-width:300px) {
.center-text {display:none;}
.left-btns,
.right-btns {flex-direction:row;}
#cnt-ii {display:block;color:#fff;}
#cnt-i {display:none;}
.nav-top .menu {gap:20px;}
.nav-top .menu a {font-size:19px;}}
#cnt-i {display:block;}
#cnt-ii {display:none;}
.media-container {overflow:hidden;width: 100%;height: auto;display: flex;flex-direction: column;position: absolute;z-index: 1;}
.media {position: relative;flex: 0 0 auto;width: 100%;cursor: pointer;user-select: none;pointer-events: auto;user-drag: none;-webkit-touch-callout: none;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: auto;cursor:pointer;-webkit-user-drag: none;-moz-user-drag: none;-ms-user-drag: none;user-drag: none; }
.media video {width: 100%;height: auto;display: block;}
.sound-icon {position: absolute;bottom: 15px;right: 15px;width: 20px;max-width:20px;height: auto;cursor: pointer;z-index: 10;opacity: 0.90;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: auto;cursor:pointer;-webkit-user-drag: none;-moz-user-drag: none;-ms-user-drag: none;user-drag: none; }
.sound-off-icon {display: block;}
.sound-on-icon {display: none;}
body:-webkit-scrollbar {display:none;}
body.no-scroll {-webkit-overflow-scrolling: hidden;overflow: hidden;touch-action:none;-webkit-touch-callout:none;max-height:10px;scrollbar-width: none;-ms-overflow-style: none;overflow: hidden;}
#overlay:target {-webkit-overflow-scrolling:hidden;overflow:hidden;overflow-y:hidden;visibility: hidden;-webkit-user-drag:none;pointer-events:none;position:fixed;display: none;touch-action:none;-webkit-touch-callout:none;}
#overlay {margin:0;padding:0;position: fixed;top: 0;left: 0;width: 100%;height: 100%;background-color: #000;display: none;touch-action:none;justify-content: center;align-items: center;z-index: 1000;touch-action: pan-x pan-y;}
img {user-select: none;pointer-events: auto;user-drag: none;-webkit-touch-callout: none;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: auto;cursor:pointer;-webkit-user-drag: none;-moz-user-drag: none;-ms-user-drag: none;user-drag: none; }
#overlay-content {margin:0;padding:0;width: 100%;height: 100%;overflow: auto;touch-action:none;position: fixed;touch-action: pan-x pan-y;overscroll-behavior:none;}
#overlay-content::-webkit-scrollbar {display:none;}
#overlay::-webkit-scrollbar {display:none;}
#close-btn {position: absolute;top: 10px;left: 50%;transform: translateX(-50%);cursor: pointer;width: 35px;max-width:35px;height: 35px;user-select: none;pointer-events: auto;user-drag: none;-webkit-touch-callout: none;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: auto;cursor: pointer;-webkit-user-drag: none;-moz-user-drag: none;-ms-user-drag: none;user-drag: none;z-index:1009;}
.nav-btn {position: absolute;transform: translateY(-50%);cursor: pointer;z-index: 10000;padding: 5px 16px;user-select: none;pointer-events: auto;user-drag: none;-webkit-touch-callout: none;}
#prev-btn {left: 5px;border: 2px solid #275c86;top: 25px;}
#next-btn {border: 2px solid #275c86;right: 5px;top: 25px;}
.holder {margin:0 auto;padding:0;width:62%;background:rgba(255, 255, 255, 0.100);height:50px;transform:translateX(-50%);left:50%;top:0;position:absolute;z-index:1007;}
.nav-btn img {display: block;max-width: 100%;height: auto;width: 17px;max-width:20px;user-select: none;pointer-events: auto;user-drag: none;-webkit-touch-callout: none;-moz-user-select: none;-ms-user-select: none;user-select: none;pointer-events: auto;cursor:pointer;-webkit-user-drag: none;-moz-user-drag: none;-ms-user-drag: none;user-drag: none; }
#overlay-content img, #overlay-content video {padding-bottom:180px;}
video::-webkit-media-controls {display: none !important;}
video::-webkit-media-controls {display: none !important;}
video::-moz-media-controls {display: none !important;}
video::-ms-media-controls {display: none !important;}
video::-internal-media-controls {display: none !important;}
video {controls: none !important;}
video::-webkit-media-controls-start-playback-button {display: none !important;}
video::-webkit-media-controls {display: none !important;}
video::-webkit-media-controls {display: none !important;}
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-volume-slider {display: none !important;}
video::-webkit-media-controls-panel,
video::-webkit-media-controls-panel *,
video::-webkit-media-controls-panel > * {display: none !important;}
video::-webkit-media-controls-overlay-play-button,
video::-webkit-media-controls-overflow-button,
video::-webkit-media-controls-enclosure,
video::-webkit-media-controls-start-playback-button,
video::-webkit-media-controls-background,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-current-time-display,
video::-webkit-media-controls-time-remaining-display,
video::-webkit-media-controls-mute-button,
video::-webkit-media-controls-volume-slider-container,
video::-webkit-media-controls-volume-slider {display: none !important;}
video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-rewind-button,
video::-webkit-media-controls-return-to-realtime-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-toggle-closed-captions-track-list,
video::-webkit-media-controls-toggle-play-button {display: none !important;}
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pause-button,
video::-webkit-media-controls-seek-back-button,
video::-webkit-media-controls-seek-forward-button,
video::-webkit-media-controls-toggle-closed-captions-button,
video::-webkit-media-controls-timeline,
video::-webkit-media-controls-timeline-container,
video::-webkit-media-controls-volume-slider,
video::-webkit-media-controls-volume-slider-container {display: none !important;}
.video-container {position: relative;width: 100%;max-width: 640px; /* Adjust as needed */margin: auto;}
video {width: 100%;height: auto;}
.hidden-in-gallery {display: none;}
#overlay .hidden-in-gallery {display: block;}
.tit {position: relative;display: flex;justify-content: space-between;width: 100%;max-width: 800px;}
.left-text, .right-text {color: white;position: fixed;top: 50%;transform: translateY(-50%);letter-spacing:1.2px;font-size:21.5px;z-index:800;font-family:'BB Manual Mono Pro TX', arial;}
.left-text {left: 0;padding-left: 20px;}
.right-text {right: 0;padding-right: 20px;}
@media screen and (max-width:300px) {
.left-text {left: 0;padding-left: 40px;font-size:14px;}
.right-text {right: 0;padding-right: 40px;font-size:17px;}}
@media screen and (min-width:301px) and (max-width:500px) {
.left-text {left: 0;padding-left: 80px;}
.right-text {right: 0;padding-right: 80px;padding-right:auto;}}
@media screen and (min-width:501px) and (max-width:600px) {
.left-text {left: 0;padding-left: 110px;padding-right:auto;}
.right-text {right: 0;padding-right: 110px;}}
@media screen and (min-width:601px) and (max-width:700px) {
.left-text {left: 0;padding-left: 150px;padding-right:auto;}
.right-text {right: 0;padding-right: 150px;}}
@media screen and (min-width:701px) and (max-width:800px) {
.left-text {left: 0;padding-left: 180px;padding-right:auto;}
.right-text {right: 0;padding-right: 180px;}}
@media screen and (min-width:801px) and (max-width:990px) {
.left-text {left: 0;padding-left: 200px;padding-right:auto;}
.right-text {right: 0;padding-right: 200px;}}
@media screen and (min-width:901px) {
.left-text {left: 0;padding-left: 240px;padding-right:auto;}
.right-text {right: 0;padding-right: 240px;}}
#opener {
    position: fixed;
    z-index: 900;
    background: red;
    height: 100%;
    width: 100%;
    touch-action: none;
    -webkit-touch-callout: none;
    pointer-events: auto;
    overflow: hidden;
    overscroll-behavior: none;
    display: none;
}
#opener:target + #content {pointer-events: none;touch-action:none;overflow:hidden !important;-webkit-touch-callout:none;#opener:target + #content::-webkit-scrollbar}
#overlay:target + #content::-webkit-scrollbar, #opener:target + #content::-webkit-scrollbar-thumb, #opener:target + #content::-webkit-scrollbar-track {
    display: none;
}
#opener:target + #content {
    scrollbar-width: none;
}
#opener:target + #content {
    -ms-overflow-style: none;
    overflow:hidden;
    -webkit-overflow-style: none;
    touch-action:none;
    -webkit-touch-callout:none;
    pointer-events:none;
}
#content {
    overflow:auto;
}
.media-container::-webkit-scrollbar {position:fixed;display:none;}